/* General Styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 1rem;
}

.container {
    height: 100vh;
}

.header,
.sidebar,
.main-content {
    border: 2px solid black;
}

/* ===================================================Begin Styling==================================================================== */
/* ===================================================Grid Container Styling=========================================================== */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "sidebar header"
        "sidebar main-content"
        "sidebar main-content"
        "sidebar main-content";
}

/* =======================================================Sidebar====================================================================== */
.sidebar {
    grid-area: sidebar;
}

/* =======================================================Header======================================================================= */
.header {
    grid-area: header;
}

/* =====================================================Main Content=================================================================== */
.main-content {
    grid-area: main-content;
}